{{> navbar }}
<main class="main-posts">
{{#each postData}}
<section class="post">
<h2>{{title}}</h2>
<p class="home-content">{{content}}</p>
<p class="posted">Posted By: {{user.username}}</p>
<p class="posted">Posted On: {{formatDate this.createdAt 'MMMM Do YYYY'}}</p>
</section>
{{/each}}
</main>