<form id="comment-form" action="/comment/addComment" method="POST" class="mb-3">
  <div class="mb-3">
    <textarea
      class="form-control"
      name="content"
      placeholder="Add a comment..."
      rows="3"
      required
    ></textarea>
  </div>
  <input type="hidden" name="postId" value="{{postId}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>